body{
    background-image: url(img.png);
    background-size: cover;
    font-family: arial;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li{
float: left;
width: 200px;
height: 40px;
display: block;
line-height: 40px;
background-color: darkgray;
}

ul li a{
    color: white;
    text-decoration: none;
    opacity: .9;
    display: block;
    text-align: center;
}

ul li a:hover{
    background-color: orange;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}